<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Cliente</title>
</head>

<body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

        <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Alterar Cliente</h2>

        <div class="md:flex flex-col mt-10">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <form th:hx-post="@{/clientes/alterar}" hx-target="#main" hx-swap="outerHTML" th:object="${cliente}" class="md:flex flex-col w-2/3 mt-10 ms-16">
                        
                        <!-- ID (disabled + hidden) -->
                        <label for="id" class="mt-5 block text-gray-700 font-medium mb-2">ID</label>
                        <input type="number" th:field="*{id}" disabled
                            class="w-1/2 py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" />
                        <input type="hidden" th:field="*{id}">

                        <!-- Nome -->
                        <div th:replace="~{layout/fragments/forms :: inputtext('Nome', 'nome')}"></div>

                        <!-- Contato -->
                        <div th:replace="~{layout/fragments/forms :: inputtext('Contato', 'contato')}"></div>

                        <!-- Data de Cadastro -->
                        <div th:replace="~{layout/fragments/forms :: inputdata('Data de Cadastro', 'data_cadastro')}"></div>

                        <!-- Botão -->
                        <div class="mt-5">
                            <button type="submit"
                                class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">
                                Alterar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <!-- !conteudo principal -->
</body>

</html>
