<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Página Principal</title>
</head>

<body hx-ext="response-targets" hx-target-5*="#main" hx-target-4*="#main">
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" id="main" class="flex flex-col align-middle justify-center w-full m-5">
    <h2 class="text-xl md:text-4xl text-left font-semibold text-teal-600">
      <span th:text="${mesAtual}">MÊS</span>
    </h2>
    <h3 class="text-lg md:text-2xl text-left font-semibold text-gray-600 mt-2">
      Total de vendas do mês: R$ <span th:text="${totalVendasMes}">0,00</span>
    </h3>


    <img th:src="@{/images/Gerenciamento_Vonse.png}" class="mt-10 mx-auto block" alt="Zé Gotinha" />
  </main>
</body>

</html>